.minimal-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--TercerColor);
  color: var(--TextoClaro);
  padding: 5px 0;
  transition: border-color 0.3s;
  width: 100%;
}

.minimal-input:focus {
  outline: none;
  border-bottom: 2px solid var(--PrimerColor);
  box-shadow: none;
}

.btn-minimal {
  background: none;
  border: none;
  color: var(--TextoClaro);
  font-size: 1.2rem;
  transition: transform 0.2s;
}

.btn-minimal:hover {
  color: var(--PrimerColor);
  transform: scale(1.1);
}

.custom-switch.form-check-input:checked {
  background-color: var(--PrimerColor);
  border-color: var(--PrimerColor);
}

.custom-switch.form-check-input {
  background-color: var(--TercerColor);
  border-color: rgba(255, 255, 255, 0.2);
  width: 2.5em;
  height: 1.25em;
  cursor: pointer;
}

.custom-switch.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(229, 9, 20, 0.25);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
